# Abaikan semua file dan folder secara default
*

# Jangan abaikan folder dan file yang diinginkan
!.gitignore
!public/
!public/**      # Pastikan semua file dalam folder public tetap masuk
!index.html
!komik.json
!last_page.json
