# Abaikan semua file dan folder secara default
*

# Jangan abaikan file dan folder yang diinginkan
!.gitignore
!public/
!public/**  # Pastikan semua isi dalam folder public ikut masuk
!index.html
!komik.json
!last_page.json